<% if balance >= 0 %>
  <h3>Saldo Geral: <span class="label label-success"><%= balance %></span></h3>
<% else %>
  <h3>Saldo Geral: <span class="label label-danger"><%= balance %></span></h3>
<% end %>
