<% if balance >= 0 %>
  <h3>Saldo Geral: <span class="label label-success"><%= WorkingHour.to_human(balance) %></span></h3>
<% else %>
  <h3>Saldo Geral: <span class="label label-danger"><%= WorkingHour.to_human(balance) %></span></h3>
<% end %>
