<% if balance >= 0 %>
  <h3>Saldo Geral: <span class="label label-success"><%= hour_to_human(balance) %></span></h3>
<% else %>
  <h3>Saldo Geral: <span class="label label-danger"><%= hour_to_human(balance) %></span></h3>
<% end %>
