<table class="table table-striped" >
<% today.each do |d|  %>
  <tr>
    <td><%= d.record.strftime("%H:%M") %></td>
  </tr>
<% end %>
</table>

<h3><span class="label label-info">Total trabalhado => <%= hour_to_human(today_total) %>  </span></h3>
