<div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>Dia</th>
          <th>Hora</th>
        </thead>
        <tbody>
          <% @working_hour.each do |wh| %>
            <tr>
              <td><%= wh.day.strftime("%d/%m/%Y") %></td>
              <td><%= wh.record.strftime("%H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>